* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #EBEBEB;
}

header {
    background-color: rgba(255, 241, 89, 1);
    padding: 12px 0;
}

.header-content {
    max-width: 510px;
    margin: 0 auto;
}

.search-form {
    display: flex;
}

.search-input {
    flex-grow: 1;
    margin-right: 14px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

.search-button {
    padding: 12px 35px;
    border-radius: 5px;
}

.content {
    max-width: 510px;
    margin: 0 auto;
    overflow: auto;

}

.result-content {
    max-width: 510px;
    display: flex;
    justify-content: space-around;
}

.results {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
}

.result-item {
    border: solid 1px;
    border-radius: 4px;
    display: flex;
    padding: 13px;
    background-color: white;
}

.result-item-img {
    max-width: 119px;
    max-height: 128px;
    object-fit: contain;
    padding-bottom: 38px;
}

.result-item-content {
    flex-grow: 1;
    padding: 0 13px;
}

.result-item-title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.result-item-condition {
    margin-top: 5px;
}

.result-item-sell-count {
    margin-top: 100px;
}

.result-item-price {
    font-weight: bold;
    font-size: 28px;
    color: #5791a4;
}